
.menu {
    display: flex;
    text-decoration: none;
    background-color: #000000;
    color:#fff;
    margin-bottom: 5vh;
}

li{
    color: #fff;
    padding: 0.8vw;
    padding-right: 1.3vw;
    list-style: none;
    margin-left: 1vw;
    font-weight: bold;

}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid red;
    background-color: red;
}

.botoes:hover{
    background-color:#424141;
}


    